{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blog
{% endblock %}


{% block home_url %}

    {% url 'home:index' %}

{% endblock %}



{% block content %}
    <main class="main">

        <!-- Page Title -->
        <div class="page-title dark-background" style="background-image: url({% static 'img/page-title-bg.jpg' %});">
            <div class="container position-relative">
                <h1>Blog</h1>
            </div>
        </div><!-- End Page Title -->

        <!-- Blog Posts Section -->
        <section id="blog-posts" class="blog-posts section">

            <div class="container">
                <div class="row gy-4">
                    {% for post in posts %}
                        <div class="col-lg-4">
                            <article class="position-relative h-100">

                                <div class="post-img position-relative overflow-hidden">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
                                    {% else %}
                                        <img src="{% static 'img/no_photo.jpg' %}" alt="{{ post.title }}">
                                    {% endif %}
                                    <span class="post-date">{{ post.create_format_short }}</span>
                                </div>

                                <div class="post-content d-flex flex-column">

                                    <h3 class="post-title">
                                        {{ post.title }}
                                    </h3>

                                    <div class="meta d-flex align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-person"></i>
                                            <span class="ps-2">{{ post.author.full_name }}
                                                {% if post.author.full_name == ' ' %} non {% endif %}</span>
                                        </div>
                                        <span class="px-3 text-black-50">/</span>
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-folder2"></i> <span
                                                class="ps-2">{% for cat in post.category.all %} {{ cat }}
                                            {% if cat != post.category.all.last %}/{% endif %} {% endfor %}</span>
                                        </div>
                                    </div>

                                    <p>
                                        {{ post.content|slice:':100' }}
                                    </p>

                                    <hr>

                                    <a href="{% url 'blog:blog_detail' pk=post.id   %}" class="readmore stretched-link"><span>Read More</span><i
                                            class="bi bi-arrow-right"></i></a>

                                </div>

                            </article>
                        </div><!-- End post list item -->
                    {% endfor %}

                </div>
            </div>

        </section><!-- /Blog Posts Section -->

        <!-- Blog Pagination Section -->
        <section id="blog-pagination" class="blog-pagination section">

            <div class="container">
                <div class="d-flex justify-content-center">
                    <ul>
                        <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li>...</li>
                        <li><a href="#">10</a></li>
                        <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>

        </section><!-- /Blog Pagination Section -->

    </main>

{% endblock %}
